.btn{
    padding: 10px 20px;
    background-color: #f4f8fd;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}
.btn:hover{
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
}